.ui.centered.grid.row.featured {
  border-bottom: 1px solid black;
}

.contact {
  border-left: 1px solid black;
  padding-left: 30px;
  padding-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.subTotalHolder{
  padding: 10px;
  border: solid black 5px;
  flex: 1;
  margin: 10px;

}

.cartPageHolder{
  display: flex;
}

.itemHolder{
  margin: 10px;
  padding: 10px;
  flex: 2;
  border: solid black 5px;
}

.thankYouPage{
  border: solid 5px black;
  margin: 100px;
  padding: 30px;

}

input{
  border: black solid 2px;
  margin: 10px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
